/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */

/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

// Globals

// Define local fallback fonts
@font-face {
  font-family: 'Custom-font';
  src: url('/dst/fonts/custom-font.woff') format('woff');
}

body {

}

// Typography

// Link styles
a:visited {
    color: $success-color;
  }
a:active {
  color: $alert-color;
  }

.rss-subscribe {

}

// Empty data-sets i.e. category or tag arrays
.none {

}






/*------------------------------------*\
    #STYLES
\*------------------------------------*/

// Menus

// Nav menu

nav {

}

// Page and post layouts

.page {

}

// Top level
.page > header {

}

.page .title {

}
.page .subtitle {

}

.page .content {

}
// Page only

section.page {

}

// Top level
section.page > header {

}

section.page .title {

}
section.page .subtitle {

}

section.page .content {

}

// Post only

article.page {

}

// Top level
article.page > header {

}

article.page .title {

}
article.page .subtitle {

}

.dateline {

  dt {

  }

  dd {

    a {

    }

    time {

    }

    em {

    }
  }
}

article.page .content {

}
